project:
  type: website

website:
  title: "Ousmanecisse"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: courses.qmd
        text: "Self-study courses"
      - about.qmd

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true



