@import"https://fonts.googleapis.com/css?family=Phudu:500";
@import"https://fonts.googleapis.com/css?family=DM+Sans:400,700,400italic,700italic";

/*-- scss:defaults --*/

$primary: #E9D2C0;
$body-bg: #1F2041;
$body-color: #E9D2C0;
$navbar-bg: #111229;
$link-color: $primary;
$navbar-font-family: "Phudu";
$headings-font-family: "Phudu";
$headings-color: $primary;
$font-family-base: "DM Sans";
$code-block-bg: #141618;
$code-block-border: true;
$code-block-border-right: $primary !important;
$code-block-border-radius: 10px;
$code-color: $primary;
$code-bg: #212529;
$code-border-radius: 25px;
$tabset-border-color: $primary;
$border-color: $primary;

$primary-color: #E9D2C0;

/*-- scss:rules --*/

:root {
    --secondary-color: #E9D2C0;
}

div.quarto-about-jolla main {
    border-top: solid 3px $primary;
    border-bottom: solid 3px $primary;
    border-radius: 0;
    padding-top: 20px;
}

div.quarto-about-jolla {
    margin-top: 5%;
}

title-block-header {
    margin-block-end: 0rem;
}

/* navbar */

.navbar-title {
    font-family: $headings-font-family;
    color: $primary !important;
}

.navbar-dark .navbar-brand {
    color: $primary;
    text-align: center !important;
}

.navbar-brand {
    color: $primary;
    text-align: center !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: $primary;
}

.nav-link {
    color: $primary;
    text-transform: uppercase;
}

.nav-link.active {
    color: #ffffff !important;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #ffffff;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
    color: $primary;
}

div.quarto-about-jolla .about-sep {
    width: 0%;
}

hr {
    margin: 0rem 0;
    border-color: $primary;
}

.btn-primary {
    color: $body-bg;
    background-color: #E9D2C0;
    border: 1px solid transparent;
    width: 25%;
    margin-bottom: 0;
    text-align: center;
    padding: 0px 2px;
    border-radius: 25px;
    vertical-align: middle;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #6A395B;
    border-color: white;
}

.panel-tabset [role="tablist"] {
    border-bottom: 5px solid $tabset-border-color;
    list-style: none;
    margin: 0;
    padding-bottom: 5px;
    width: 100%;
}

.panel-tabset [role="tab"] {
    border: 1px solid $tabset-border-color;
    border-top-color: $tabset-border-color;
    display: block;
    padding: 1em 1em;
    text-decoration: none;
    font-size: 0.75em;
    border-radius: 10px;
    background-color: #141618;
    color: $primary;
    margin: 2px;
}

.panel-tabset [role="tab"][aria-selected="true"] {
    background-color: $primary;
    color: $body-bg;
}

details>summary {
    color: $primary;
    font-size: 1em;
    border-radius: 20px;
    background-color: $code-bg;
    padding-left: 10px;
    margin-bottom: 10px;
    font-family: $font-family-monospace;
}

details {
    margin-bottom: 0px;
}

.sidebar nav[role=doc-toc] ul>li>a.active {
    border-left: 5px solid $primary;
    color: $primary !important;
    font-weight: bold !important;
}

.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 5px solid $primary;
    color: $primary !important;
}

.sidebar nav[role=doc-toc]>ul a {
    border-left: 1px solid $primary;
    padding-left: 0.6rem;
    background-color: $code-block-bg;
}

.sidebar nav[role=doc-toc]>h2,
.sidebar nav[role=doc-toc]>.h2 {
    font-size: 1rem;
    border-bottom: 1px solid $primary;
    padding-bottom: 0.6rem;
    font-weight: bold !important;
}

div.sourceCode {
    background-color: $code-block-bg;
    border-right: 8px solid $primary;
    border-radius: 0.25rem;
    margin-right: 10px;
}

thead,
tbody,
tfoot,
tr,
td,
th {
    border-style: none;
    padding-bottom: 2px !important;
    color: $body-color;
}

div.callout-note.callout {
    border-left-color: $primary;
}

div.callout-note.callout-style-default>.callout-header {
    background-color: $code-bg;
    color: $primary;
}

.sidebar nav[role=doc-toc] ul>li>ul>li {
    font-size: 0.85em;
}

blockquote {
    border-left: 5px solid $primary !important;
    text-align: left;
    background-color: $code-bg !important;
    color: $body-color !important;
    padding: 5px;
    font-size: 0.65em;
    font-style: italic !important;
    border-radius: 2px;
}

/* Card custom */
.card {
    background-color: #212529 !important;
    border: 1px solid $primary;
}

.project-links-manual .btn {
    border-radius: 20px;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-family: $headings-font-family;
    margin-right: 5px;
    margin-bottom: 5px;
}

.project-links-manual .btn-outline-primary {
    color: $primary;
    border-color: $primary;
}

.project-links-manual .btn-outline-primary:hover {
    background-color: $primary;
    color: $body-bg;
}

.listing-category {
    font-size: 0.6rem !important;
}